@import '../styles.scss';

.header {
  background-image: url('../assets/images/hero-image.svg');
  background-size: 250px 250px;
  background-position: center center;
  height: 260px;
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;

  h1 {
    font-size: clamp(3rem, 5vw, 4rem);
    line-height: 1;
    margin: 0;
    font-family: 'GothamProBold', Arial, Helvetica, sans-serif;
  }
}

main {
  padding: 56px 0;
  color: white; 
}

.container {
  width: 92%;
  max-width: 1000px;
  margin: 0 auto;
}

.internal-nav-tabs {
  text-align: center;
  width: 100%;
  margin-bottom: 78px;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }

  li {
    list-style-type: none;
    margin: 0 20px;
  }

  a {
    font-size: 32px;
    color: #ABAEB0;
    text-decoration: none;
  }

  .nav-link {
    &.active {
      font-family: $fontBold;
      color: white;
    }
  }
}