<header class="header">
  <h1>The Rick and Morty</h1>
</header>

<main>

  <div class="container">

    <nav class="internal-nav-tabs">
      <ul>
        <li><a routerLink="/characters" routerLinkActive="active" [queryParams]="{ fromPage : characterPage, nameSearch : characterNameSearch }" class="nav-link">Characters</a></li>
        <li><a routerLink="/episodes" routerLinkActive="active" class="nav-link">Episode Guide</a></li>
      </ul>   
    </nav>

    <router-outlet></router-outlet>

  </div>

</main>
