
<div class="search-block">

    <div class="search-block__input">
        <input name="name-search" placeholder="Search By Name" type="text" autocomplete="off" [(ngModel)]="searchTerm" />
    </div>
    <div class="search-block__submit">
        <span (click)="getCharacters(1)">Search</span>
    </div>

</div>

<table *ngIf="characterCall" class="character-table">
    <tbody *ngIf="characterCall.results">
        <tr *ngFor="let c of characterCall.results" [routerLink]="['/character', c.id]" [queryParams]="{ fromPage : currentPage, nameSearch : searchTerm }">
            <td>{{c.name}}</td>
            <td>{{c.species}}</td>
            <td>{{c.status}}</td>
            <td>{{c.gender}}</td>
        </tr>
    </tbody>
</table>


<ng-container *ngIf="pages">
    <div class="table-pagination">
        <span *ngFor="let p of pages" [ngClass]="{'active': (p === currentPage)}" (click)="getCharacters(p)">{{p}}</span>
    </div>
</ng-container>
