@import '../../styles.scss';

.character-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  
  tr {
    background: $tableRowBgColor;
    transition: .2s ease all;
    cursor: pointer;

    &:hover {
      transition: .2s ease all;
      background: $lightBgColor;
      color: $lightPurple;
    }
  }

  td {
    padding: 11px 17px;
    border: solid 1px $lightBgColor;
    border-style: none none solid none;

    &:last-child {
      border-right-style: solid;
    }
  }

  tr:first-child td:first-child {
    border-top-left-radius: 3px;
  }

  tr:first-child td:last-child {
    border-top-right-radius: 3px;
  }

  tr:last-child td:first-child {
    border-bottom-left-radius: 3px;
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: 3px;
  }

  tr:first-child td {
    border-top-style: solid;
  }

  tr td:first-child {
    border-left-style: solid;
  }
}

.search-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  &__input,
  &__submit {
    height: 43px;
  }

  &__input {
    width: calc(75% - 12px);    

    input {
      border: none;
      padding: 0 17px;
      width: 100%;
      color: $formInputColor;
      font-size: 16px;
      font-family: $fontRegular;
      height: 43px;
      line-height: 43px;
      background: white;
      border-radius: $formInputRadius;
    }
  }

  &__submit {
    width: calc(25% - 12px);
    min-width: 100px;

    span {
      display: inline-block;
      background: $lightPurple;
      color: white;
      font-size: 18px;
      border-radius: $formInputRadius;
      padding: 0 24px;
      width: 100%;
      height: 43px;
      line-height: 43px;
      text-align: center;
      cursor: pointer;
      transition: .2s ease all;

      &:hover {
        background: lighten($lightPurple, 5%);
        transition: .2s ease all;
      }
    }
  }
}