/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'GothamPro';
  src: url('./assets/fonts/GothamProRegular.ttf');
}

@font-face {
  font-family: 'GothamProBold';
  src: url('./assets/fonts/GothamProBold.ttf');
}

// Variables
$fontRegular: 'GothamPro', Arial, Helvetica, sans-serif;
$fontBold: 'GothamProBold', Arial, Helvetica, sans-serif;
$lightPurple: #7B68EE;
$lightGray: #ABAEB0;
$formInputColor: #7C828D;
$mainBgColor: #1E272E;
$lightBgColor: #384047;
$tableRowBgColor: #2B343B;
$formInputRadius: 6px;

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: $mainBgColor;
  font-family: $fontRegular;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}