/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'GothamPro';
  src: url('./assets/fonts/GothamProRegular.ttf');
}

@font-face {
  font-family: 'GothamProBold';
  src: url('./assets/fonts/GothamProBold.ttf');
}

// Variables
$fontRegular: 'GothamPro', Arial, Helvetica, sans-serif;
$fontBold: 'GothamProBold', Arial, Helvetica, sans-serif;
$lightPurple: #7B68EE;
$lightGray: #ABAEB0;
$formInputColor: #7C828D;
$mainBgColor: #1E272E;
$lightBgColor: #384047;
$altBgColor: #2B343B;
$formInputRadius: 6px;

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background: $mainBgColor;
  font-family: $fontRegular;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

// Global Pagination Element
.table-pagination {
  margin-top: 31px;
  text-align: center;

  span {
    display: inline-block;
    color: white;
    margin: 0 8px 18px;
    font-size: 14px;
    cursor: pointer;
    transition: .1s ease all;
    padding: 0 4px;

    &:first-child {
      padding: 0 4px 0 0;
      margin: 0 8px 18px 0;
    }

    &:last-child {
      padding: 0 0 0 4px;
      margin: 0 0 18px 8px;
    }

    &:hover {
      color: $lightPurple;
      transition: .1s ease all;
    }

    &.active {
      color: $lightPurple;
      cursor: unset;
    }
  }
}